
.App{
    height:100vh;
    color:#98C040;
    overflow: hidden;
    overflow-y: auto;
    background-color:#262D2F;
}
.searchBar{
font-size: 15;
background-color: #FBF9FA;
border-radius: 15px;
border: navajowhite;
height: 25;
width: 55%;

}
.mainBodyDiv{
    width: 95%;
    justify-content: center;
    
}
.searchBar input{
    font-size: 15;
    background-color: #FBF9FA;
    border-radius: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 5px;
    border: #F9FCFB;
    height: 25;
    width: 95%;
    
    }
.image{
    height: 25;
    width: 25;
}
